<div id="navbar" class="fixed z-20 w-full bg-transparent text-stone-200">

    <!-- Desktop --> 
    <div class="hidden md:flex h-12">
        <div class="mt-4 text-lg font-medium md:flex md:w-1/4">
            <div class="w-full text-center">
                <a href="/#section-about-us" class="block h-full px-3 hover:underline">about</a>
            </div>
            <div class="w-full text-center">
                <a href="/portfolio.html" class="block h-full px-3 hover:underline">portfolio</a>
            </div>
        </div>
        <div class="text-4xl w-full md:w-1/2">
            <div class="w-full text-center">
                <a href="/" class="block h-full px-3 hover:underline" style="font-family: 'Poiret One'">soho spaces</a>
            </div>
        </div>
        <div class="mt-4 text-lg font-medium md:flex md:w-1/4">
            <div class="w-full text-center">
                <a href="/#section-our-services" class="block h-full px-3 hover:underline">services</a>
            </div>
            <div class="w-full text-center">
                <a href="/contact" class="block h-full px-3 hover:underline">contact</a>
            </div>
        </div>
    </div>

    <!-- Mobile --> 
    <div class="md:hidden border-gray-200">
        <div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between px-4 py-1">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <div class="text-3xl" style="font-family: 'Poiret One'">soho spaces</div>
            </a>
            <button id="navbar-button" data-collapse-toggle="navbar-hamburger" type="button" class="inline-flex h-10 w-10 items-center justify-center p-2 text-sm" aria-controls="navbar-hamburger" aria-expanded="false">
                <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
            </button>
            <div class="hidden w-full" id="navbar-hamburger">
                <ul class="mt-4 flex flex-col text-lg font-medium text-center">
                    <li>
                        <a href="/#section-about-us" class="block px-3 py-2 hover:underline" aria-current="page" onclick="collapseNavbar()">about</a>
                    </li>
                    <li>
                        <a href="/portfolio.html" class="block px-3 py-2 hover:underline">portfolio</a>
                    </li>
                    <li>
                        <a href="/#section-our-services" class="block px-3 py-2 hover:underline" onclick="collapseNavbar()">services</a>
                    </li>
                    <li>
                        <a href="/#section-contact-us" class="block px-3 py-2 hover:underline" onclick="collapseNavbar()">contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{#navBar.enableTransparency}}
<div id="top-of-site-pixel-anchor" class="absolute w-px h-px top-[36rem] md:top-[44rem] left-0"></div>
{{/navBar.enableTransparency}}