{{#photoGridImages}}
<div class="grid gap-4 overflow-auto">
    <div><img class="h-56 w-52 max-w-full rounded-lg object-cover" src="{{{ 0 }}}" loading="lazy" alt=""></div>
    <div><img class="h-32 w-52 max-w-full rounded-lg object-cover" src="{{{ 1 }}}" loading="lazy" alt=""></div>
    <div><img class="h-44 w-52 max-w-full rounded-lg object-cover" src="{{{ 2 }}}" loading="lazy" alt=""></div>
</div>
<div class="grid gap-4">
    <div><img class="h-44 w-52 max-w-full rounded-lg object-cover" src="{{{ 3 }}}" loading="lazy" alt=""></div>
    <div><img class="h-56 w-52 max-w-full rounded-lg object-cover" src="{{{ 4 }}}" loading="lazy" alt=""></div>
    <div><img class="h-32 w-52 max-w-full rounded-lg object-cover" src="{{{ 5 }}}" loading="lazy" alt=""></div>
</div>
{{/photoGridImages}}