{{#photoCarouselImages}}
<div data-id="carousel-item-{{index}}" data-carousel-item class="hidden duration-700 ease-in-out bg-gray-950">
    <img class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 md:h-full md:block md:mx-auto" src="{{{url}}}" alt="">
</div>
{{/photoCarouselImages}}