<a href="{{ page_path }}" class="group block">
    <div aria-hidden="true" class="overflow-hidden">
        <div class="container-block">
            <img src="{{ featured_image_src }}" class="h-64 w-full lg:h-[28rem] rounded-lg lg:rounded-none object-cover {{ image_position }}" />
            <div class="inner-block">
                <div class="slider-top-right"></div>
            </div>
        </div>
    </div>
    <div class="flex justify-between items-center">
        <h3 class="text-md py-2 lg:py-4 lowercase">{{ name }}</h3>
        <div class="align-middle">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd">
                <path d="m21.883 12-7.527 6.235L15 19l9-7.521L15 4l-.645.764L21.884 11H0v1h21.883z"/>
                <script/>
            </svg>
        </div>                             
    </div>
</a>
