<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>

<body id="section-body" class="bg-stone-300 text-gray-900" style="font-family: 'Comfortaa'">
    {{> navbar}}

    <div class="mx-4 pb-8 pt-28 md:pt-24 md:mx-auto md:px-8 md:max-w-4xl h-[36rem]">
        <div class="text-center text-4xl py-8 md:text-6xl">
            <div class="my-8">Oops - pardon our dust.</div>
            <div class="my-8">We're remodeling.</div>
            <div class="my-8 flex items-center justify-center">
                <a href="/portfolio.html">
                    <h3 class="text-lg md:text-2xl py-2 pr-4 underline">check out our projects</h3>
                </a>
                <div class="align-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd">
                        <path d="m21.883 12-7.527 6.235L15 19l9-7.521L15 4l-.645.764L21.884 11H0v1h21.883z"/>
                        <script/>
                    </svg>
                </div>                             
            </div>
        </div>
    </div>

    {{> footer}}
</body>
  