<html>
<head>
    {{> head}}
</head>
<body class="bg-stone-300 text-gray-900" style="font-family: 'Comfortaa'">
    {{> navbar}}

    {{> portfolioGrid}}

    {{> footer}}

    <script src="/dist/app-bundle.js"></script>
</body>
</html>