<div class="container">
    <h1>{{title1}} - {{title2}}</h1>
    <p>{{{projectOverviewText}}}</p>
    
    <div class="before-after">
        <img src="{{{beforeImg}}}" alt="Before Image">
        <img src="{{{afterImg}}}" alt="After Image">
    </div>
    
    <h2>Story</h2>
    <p>{{{storyText}}}</p>

    <h2>Gallery</h2>
    <div class="photo-grid">
        {{#photoGridImages}}
            <img src="{{{.}}}" alt="Photo">
        {{/photoGridImages}}
    </div>
</div>