<title>{{ title }} | Soho Spaces</title>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="description" content="Soho Spaces is full-service interior design firm based in Atlanta, Georgia.">
<meta property="og:title" content="{{ title }} by Soho Spaces, a full-service interior design firm based in Atlanta, GA">
<meta property="og:type" content="article"/>
<meta property="og:author" content="Kevin Xu"/>
<meta property="og:description" content="Soho Spaces is full-service interior design firm based in Atlanta, Georgia">
<meta property="og:url" content="{{{ url }}}">
<meta property="og:image" content="{{{ previewCard.image }}}">
<meta property="og:image:width" content="{{ previewCard.width }}"/>
<meta property="og:image:height" content="{{ previewCard.height }}"/>

<link rel="icon" type="image/png" href="/assets/soho_logo_white.svg">
<script type="text/javascript" src="/_site/scripts/app.js"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" defer/>
<link href="https://fonts.googleapis.com/css?family=Poiret+One|Comfortaa|Homemade+Apple|Yomogi" rel="stylesheet" type="text/css">
<link href="/_site/styles/app.css" rel="stylesheet" type="text/css">
<script src="https://kit.fontawesome.com/dfc62377d2.js" crossorigin="anonymous" defer></script>    
<script src="https://cdn.tailwindcss.com"></script>

{{#debug}}
<style>
    * { outline: 1px solid red; }
    @media (min-width: 640px) { * { outline: 1px solid green; } }
    @media (min-width: 1024px) { * { outline: 1px solid blue; } }
</style>
{{/debug}}