<div class="lg:h-auto">
    <video id="hero-video" autoplay loop  muted playsinline class="h-screen w-full object-cover object-top" src="{{url}}" type="video/mp4" onloadstart="this.playbackRate=0.5;"></video>
</div>