/**********************************************
 * 
 * Before / After Images Slider
 * 
 *********************************************/
 
 .line {
    width: 100px;
    height: 1px;
    margin: 20px auto 40px auto;
    border-bottom: 1px solid rgb(190, 101, 101);
}

.slider-image {
    width: 100%;
    height: 100%;
    max-width: none;                /* Remove max-width default set by Tailwind */
    display: block;
    border-radius: 0.5rem;
    object-fit: cover;
}

.image-container {
    height: 384px;                  /* h-96 in tailwind */
    width: 100%;
    display: block;
    margin: 30px auto
}


.before-after-slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.after-image {
    display: block;
    height: 100%;
}

.before-image {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
}

.resizer {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 5;
    top: 0;
    left: 50%;
    height: 100%;
    width: 4px;
    background: white;
    /*Stop vertical scrolling on touch*/
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.resizer:after {
    background: white;
    font-family: "Font Awesome 5 Free";
    content: '\f337';
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    position: absolute;
    margin: 0 0 0 -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid white;
}

@media (min-width: 1024px) {        /* Desktop changes */ 
    .slider-image {
        border-radius: 0;           /* No rounded edges  */ 
    }
    .image-container {              /* Larger component size */ 
        height: 44rem;
    }
    .resizer {                      /* Thicker line */ 
        width: 8px;
    }
    .resizer:after {                /* Larger arrow icon */ 
        margin: 0 0 0 -11px;
        width: 30px;
        height: 30px;
    }    
}